*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Navbar */
.navbar{
    width: 100%;
    
}
.navbar nav{
    width: 80%;
    margin:30px auto;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
}

.navbar nav h2{
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      font-family: 'JetBrains Mono', monospace;
}
.navbar nav ul li a{
    color: black;
    text-decoration: none;
    display: flex;
    font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      font-family: 'Inter', sans-serif;
    

}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar nav ul {
    display: flex;
    gap: 60px;
}
.navbar nav ul li{
        list-style-type: none;
}

.navbar nav button{
    padding: 7px 15px;
    border: 3px solid #CCC3CD;
    border-radius: 10px;
    
}
.nav-btn2{
     background: linear-gradient(135deg, #B777F3, #E689BC);
}

/* hero */

.hero-container {
  width: 100%;
  margin-top: 100px;
}

.hero-fullbox {
  text-align: center;
}

.hero-fullbox h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
}

.hero-fullbox h2 .grad {
  background: linear-gradient(135deg, #B777F3, #E689BC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* teacher-form-container */

.teacher-form-container{
    width: 100%;
    margin-top: 100px;
}

.teacher-form-fullbox{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.teacher-form-fullbox .teacher-form-content{
    width: 30%;
    
}

.teacher-form-fullbox .form-fullbox{
      background: linear-gradient(135deg, #B777F3, #E689BC);
      height: 100vh;
      width: 50%;
      border-radius: 30px;
}
.form-fullbox .form-row-one{
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
}

.form-fullbox label{
    color: white;
    font-family: 'Inter', sans-serif;
}

.form-fullbox .form-row-one input{
    width: 130%;
}

/* .form-row-one input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 90%;
} */
.form-row-one{
    margin-top: 40px;
}
.form-fullbox input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 95%;
    margin-top: 15px;
}

.form-row-two{
    margin-left: 35px;
    margin-top: 40px;
}

.form-fullbox h3{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.form-fullbox h3 span{
    color: white;
}
.teacher-form-content h2{
    font-size: 54px;
    margin-top: 300px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.teacher-form-content p{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 30px;
}

.form-fullbox  button{
    padding:10px  40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #B777F3;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
}



/* footer */

.footer-container{
    margin-top: 50px;
    width: 100%;
    /* height: 100vh; */
     background: linear-gradient(135deg, #B777F3, #E689BC);
     border-top: 2px solid white;
     margin-bottom: 5px;
}

.footer-fullbox{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}
.footer-box1 div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-box1 h2{
       font-family: 'Inter', sans-serif;
       font-size: 30px;
       font-weight: 400;
       color: white;
}
.footer-box1 img{
    width: 84px;
    height: 84px;
}
.footer-box1 p{
    margin-top: 20px;
    color: white;
    font-size: 15px;
    font-weight:400;
}
.footer-box3 div{
    display: flex;
    gap: 10px;
}

.footer-box4 div{
    display: flex;
    gap: 10px;
}

.footer-fullbox h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.footer-fullbox ul li{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.footer-box3 p{
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.footer-box3 i{
     font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}
.footer-box4 p{
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}
.footer-box4  i{
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}